src/main/mule/flightsapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="flightsapi-main">
        <http:listener config-ref="flightsapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flightsapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flightsapi-console">
        <http:listener config-ref="flightsapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flightsapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\deltaflightsbydestination:flightsapi-config">
		<flow-ref doc:name="deltaflightsbydestinationFlow" doc:id="4d9e2c16-ea60-467b-8ce5-86189e3203c4" name="deltaflightsbydestinationFlow"/>
    </flow>
    <flow name="get:\listAllFlightsByDestination:flightsapi-config">
		<flow-ref doc:name="listAllFlightsByDestinationFlow" doc:id="e3f3c124-d81c-48e9-850a-0e41e0a78daf" name="listAllFlightsByDestinationFlow"/>
    </flow>
    <flow name="get:\listalldeltaflights:flightsapi-config">
		<flow-ref doc:name="listalldeltaflightsFlow" doc:id="82936594-c770-4d6f-8b63-c1ed7631629d" name="listalldeltaflightsFlow"/>
    </flow>
    <flow name="get:\listallunitedflights:flightsapi-config">
		<flow-ref doc:name="listallunitedflightsFlow" doc:id="5abc8bea-9da2-4ab9-bb84-8e2fbe8d32fa" name="listallunitedflightsFlow"/>
    </flow>
    <flow name="get:\unitedflightsbydestination:flightsapi-config">
		<ee:transform doc:name="Transform Message" doc:id="c754c30a-6b21-41ca-96d9-4a329e9cb054" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="UniqueId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.UniqueId]]></ee:set-variable>
				<ee:set-variable variableName="SourceName" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.SourceName]]></ee:set-variable>
				<ee:set-variable variableName="request" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.destination]]></ee:set-variable>
				<ee:set-variable variableName="ReqTime" ><![CDATA[%dw 2.0
output application/java
---
now() as String {format: "yyyy-MM-dd HH:mm:ss.SSS"}]]></ee:set-variable>
				<ee:set-variable variableName="resourcename" ><![CDATA[%dw 2.0
output application/java
---
resourcename:"unitedflightsbydestination"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="unitedflightsbydestinationFlow" doc:id="4effddcf-5dec-4307-b1b2-c952f11ae039" name="unitedflightsbydestinationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="bd26d0aa-7035-46fe-b439-b4b4d9ee8df6" />
		<ee:transform doc:name="Transform Message" doc:id="a2762a2c-d019-4cf6-8140-1cd058d809e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ResTime" ><![CDATA[%dw 2.0
output application/json
---
now() as String {format: "yyyy-MM-dd HH:mm:ss.SSS"}]]></ee:set-variable>
				<ee:set-variable variableName="response" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<async doc:name="Async" doc:id="94676ff1-298a-4c95-86e3-629a143bcbfa" >
			<flow-ref doc:name="dbauditFlow" doc:id="3cf7a80f-14de-4acf-95f4-236cf0677e0a" name="dbauditFlow" />
		</async>
		<logger level="INFO" doc:name="Logger" doc:id="64baf675-670c-489f-ab4f-cbc13fa6cbe7" />
    </flow>
</mule>
